.element {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .element {
    grid-template-columns: minmax(284px, 600px);
  }
}
